* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 5px;
}

